html{
  min-height:100%;
  /*font-size:62.5%*/
}

body{
  padding-top: 50px;
  font-size:1.4rem;
  font-family:arial; /*cursive raleway,*/
  font-weight:500;
  background:#000000;
  background-image:url("../gags_pattern.png");
  background-size:auto;
  background-attachment:fixed;
  /*background-position:center;*/
  background-repeat:repeat;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.container {
  background: #ffffff;
  /*padding: 10px 20px;*/
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.gag-card {
  height: 135px;
  width: 110px;/*6rem;*/
  margin: 15px;
  border-radius: 2px;
  border: 2px solid;
  position: relative;
  align-items: center;
  text-align: center;
}
.gag-card > img {
  /*text-align: center;*/
  position: relative;
  padding: 1rem;
}

.gag-card > p {
  width: 100%;
  /*text-align: center;*/
  line-height: 20px;
  position: absolute;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.2em;
  bottom: 0;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 5px;
  color:#000000;
  font-size: 0.85em;
}

.my-submit-button {
  color: #000000;
  border-color: #000000;
  font-weight: bold;
}

.my-submit-button:hover,
.my-submit-button.active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  font-weight: bold;
}

/*.wrap {
  height: 200px;
  width: 200px;
  border: 1px solid #aaa;
  margin: 10px;
  display: flex;
}

.wrap span {
  align-self: flex-end;
}
*/
.center {
  margin: auto;
  width: 7em;
  /*border: 3px solid green;*/
  padding: 2px;
}

/* Perfect */
/*.gag-img-wide {
  min-width: 60%;
  height: auto;
  position: static;
  margin:auto;
  border: thick solid #ffffff;
}

.gag-img-tall {
  min-height: 60%;
  width: auto;
  position: static;
  margin:auto;
  border: thick solid #ffffff;
}*/

.btn.focus {
   /*outline: none !important;*/
   box-shadow: none !important;
}

/*I don't even know anymore asdf*/
.intro {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-outline-primary {
  height: 40px;
}

.Sound {
  color: #4649e4;
  border-color: #4649e4;
}

.Throw {
  color: #f2711c;
  border-color: #f2711c;
}

.Squirt {
  color: #f117ba;
  border-color: #f117ba;
}

.Drop {
  color: #25e9f0;
  border-color: #25e9f0;
}

.Lured {
  color: #32ab2e;
  border-color: #32ab2e;
}

.Sound.btn:hover,
.Sound.btn.active {
  background-color: #4649e4 !important;
  border-color: #4649e4 !important;
}

.Throw.btn:hover,
.Throw.btn.active {
  background-color: #f2711c !important;
  border-color: #f2711c !important;
}

.Squirt.btn:hover,
.Squirt.btn.active {
  background-color: #f117ba !important;
  border-color: #f117ba !important;
}

.Drop.btn:hover,
.Drop.btn.active {
  background-color: #25e9f0 !important;
  border-color: #25e9f0 !important;
}

.Lured.btn:hover,
.Lured.btn.active {
  background-color: #32ab2e !important;
  border-color: #32ab2e !important;
}

.cog-num {
  width: 40px;
  color: #44505c;
  border-color: #44505c;
}

.cog-num:hover,
.cog-num.active {
  background-color: #44505c !important;
  border-color: #44505c !important;
}

#row-2 > label {
  width: 71px;
}

#row-3 > label {
  width: 89px;
}

.black-background {background-color:#000000;}
.white {color:#ffffff;}