@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

font-face {
    font-family: "ImpressBT";
    src: url(../font/ImpressBT.ttf) format("truetype");
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    background:#fafafa;
}

h1 {
    font-family: 'Architects Daughter', cursive;
}


.nav {
    background-color: #333;
}

#nav1, #nav2  {
    /*display: flex;*/
    margin-left: 120px;
    margin-right: 20px;;
}

header div {
    position: relative;
    max-width: 100%;
    text-align: center;
    background:#fafafa url(../images/header-bg.jpg) 0 0 repeat-x;
    padding-bottom: 30px;
}

header div img {
    width: 40%;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 370px;
}

.navbar-nav > li {
  /*margin-left:20px;
  margin-right:20px;*/
}

#container-selected-server {
    position: absolute;
    display: table;
    width: 270px;
    text-align: center;
    right: 8px;
    margin-top: 7px;
}

.selected-server {
    /*font-family: "Bowlby One SC",Arial,Roboto,Helvetica,sans-serif;*/
    font-family: 'Architects Daughter', cursive;
    color: #f9db23;
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 0px;
}

#content-wrapper {
    padding-top: 30px;
}

.main-content {
    position: relative;
    margin: 5%;
    overflow:hidden;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px lightgrey;
    background: #fdfdfd;
}

.main-content h1 {
    /*margin-top: 0;
    margin-bottom: 0;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;*/
    font-size: 2.8em;
    font-weight: normal;
    color: #474747;
    text-align: center;
}

.main-content h1:before {
    padding-right: 0.3em;
    margin-left: -0.9em;
    color: #9ddcff;
    content: "/";
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.inner {
    display: block;
    position: relative;
    width: 940px;
    margin: 0 auto;
}


.ttr {
    display: none;
}


#toonkit-logo {
    position:absolute;
    height:auto;
    width:auto;
    max-height:40px;
    top: 30px;
    left: 10px;
    z-index: 1;
}

#cclogo {
    position:absolute;
    padding-left:2px;
    height:auto;
    width:auto;
    max-height:75px;
    top: 5px;
    right: 150px;
    cursor: pointer;
    z-index: 1;
}

#ttrlogo {
    position:absolute;
    padding-left:2px;
    height:auto;
    width:auto;
    max-height:90px;
    top: -5px;
    right: 0px;
    cursor: pointer;
    z-index: 1;
}


#cclogo:hover,
#ttrlogo:hover {
    -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
    filter:drop-shadow(3px 3px 0 rgba(255, 255, 255, 0.67)) drop-shadow(-3px -3px 0 rgba(255, 255, 255, 0.67));
}


/*FROM STYLE.CSS*/

#card-left {
    margin-top: 20px;
    float: left;
    width: 40%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 0px 0px 20px 2px lightgrey;
    border-radius: 30px;
}

#card-right {
    margin-top: 20px;
    float: right;
    width: 40%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 0px 0px 20px 2px lightgrey;
    border-radius: 30px;
}

img.cog {
    position: relative;
    z-index: 1;
    width: 80px;
    float: left;
    margin-right: 15%;
    margin-top: 10%;
}

.alert {
    padding: 2px;
    margin-bottom: 2px;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    font-size: 11px;
    color: #FFFFFF;
    background-color: #FF2323;
}
