@import url("https://fonts.googleapis.com/css?family=Architects+Daughter")

body {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}
.nav {
    background-color: #333;
}
header div {
    position: relative;
    width: 100%;
    text-align: center;
    background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
    padding-bottom: 30px;
}

header div img {
    display: inline-block;
    margin: 0 auto;

}

.ttr {
    display: none;
}

#cclogo {
    position:absolute;
    padding-left:2px;
    height:auto;
    width:auto;
    max-height:80px;
    top: 10px;
    right: 175px;

    cursor: pointer;
}

#ttrlogo {
    position:absolute;
    padding-left:2px;
    height:auto;
    width:auto;
    max-height:100px;
    top: 0px;
    right: 0px;

    cursor: pointer;
}


#cclogo:hover,
#ttrlogo:hover {
    -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
    filter:drop-shadow(3px 3px 0 rgba(255, 255, 255, 0.67)) drop-shadow(-3px -3px 0 rgba(255, 255, 255, 0.67));
    /*
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.67);
    -moz-box-shadow:    0px 0px 30px 0px rgba(255, 255, 255, 0.67);
    box-shadow:         0px 0px 30px 0px rgba(255, 255, 255, 0.67);
    */
}
/*
img:last-of-type:hover{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 -webkit-box-shadow: 0px 0px 30px 0px rgba(232, 0, 0, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(232, 0, 0, 0.67);
box-shadow:         0px 0px 30px 0px rgba(232, 0, 0, 0.67);
}
*/