{% extends "layout.html" %}
{% block head %}
  {{ super() }}

{% endblock head %}

{% block content %}
<div class="main-content">
  <h1><a id="Toontown_Speedrunning_FAQ_0"></a>Toontown: Speedrunning FAQ</h1>
  <blockquote>
      <p><strong>Credits:</strong> Vice#4812, /r/speedrun</p>
  </blockquote>

  <h2><a id="what-is-speedrunning"></a>What is speedrunning?</h2>
  <p>Speedrunning is a play-through of a video game performed with the intent of completing a goal as fast as possible. In the case of Toontown, speedrunning is typically referred to as finishing a storyline of a certain playground, or reaching a certain goal within the shortest amount of time. Speedrunning has been popularized particularly in Toontown Rewritten, where a <a href="https://www.speedrun.com/ttr">speedrun.com leaderboard has been created</a> to track the fastest times in certain categories.</p>

  <h2><a id="what-is-a-category"></a>What is a category?</h2>
  <p>A category is the subject of which a player is running to get the fastest time. An example of this is reaching Level 10 Fishing the quickest, compared to finishing the Toontown Central storyline within the shortest amount of time. These categories, or sections, are broken up based on the goal the player is trying to achieve.</p>

  <h2><a id="why-should-i-speedrun"></a>Why should I speedrun?</h2>
  <p>Speedrunning is one of the most competitive environments in games, with the goal of lowering times that other users have achieved to become first on the leaderboards. Speedrunning also allows you to practice and master certain mechanics of the game, as well as rewards you with information on the game that you may have previously not known in order to come up with new strategies. Speedrunning is also a good idea if you have become bored of a game, because it gives you a whole new initative to start playing.</p>
  <br>
  <p>If you are a content creator, it also makes for good content and better community interaction, as well as expands your audience beyond just the standard Toontown communities (such as <a href="http://reddit.com/r/speedrun">/r/speedrun</a> on reddit, the <a href="https://discordapp.com/invite/0SarUu3yU9CibytG">speedrunning Discord</a>, and more.)</p>
  
  <h2><a id="do-i-need-to-record-my-gameplay-when-speedrunning"></a>Do I need to record my gameplay when speedrunning?</h2>
  <p>Unfortunately, yes. In order to verify records and maintain integrity between runners, the leaderboards must have video evidence of players attaining records. The best way to record your PC is by using recording software such as Bandicam, OBS, Fraps, XSplit, or another screen capture software. Toonkit does not recommend using a physical camera pointed at your monitor, because it is harder to detect irregularities in runs and it significantly decreases the quality.</p>
  <br>
  <p>Toonkit also recommends that you stream attempts on <a href="http://twitch.tv">Twitch</a>, <a href="http://youtube.com">YouTube</a>, or another service.</p>

  <h2><a id="what-hardware-software-is-legal-when-running-toontown"></a>What hardware/software is legal when running Toontown?</h2>
  <p>According to Toonkit, any software that gives you an advantage over other players within the game is illegal: it must be completely unmodified from the standard game, which includes texture and resource modifications being disallowed. In terms of hardware, the game must be run on the OS that the version of your game is meant for, which means that emulators are illegal due to how they process the game (such as playing a Windows edition in Mac using Wine.) Controllers, such as DualShock and Xbox controllers, are legal providing they do not give any advantages. Any irregularities will be noted during a run when being verified to be on the leaderboard, and cheating will permanently restrict you from being on the Toonkit leaderboards.</p>
  
  <h2><a id="how-do-i-time-how-long-my-attempt-run-was"></a>How do I time how long my attempt/run was?</h2>
  <p>In order to time your runs, Toonkit recommends using <a href="http://livesplit.org/downloads/">Livesplit</a> or another tool such as ones listed on <a href="http://www.speedrunslive.com/tools/">SpeedRunsLive</a>. Most runners prefer using Livesplit due to its versatility.</p>
</div>
{% endblock content %}
