{% extends "layout.html" %}
{% block head %}
  {{ super() }}

{% endblock head %}

{% block content %}
  <div class="main-content">
    <h1>Toonkit Contributors</h1>
    <!-- Vice -->
    <div class="contributor">
      <img draggable="false" src="https://i.imgur.com/KAXiUwm.png">
      <div class="main-content">
        <h1>Admin - Vice</h1>
        <h2>Founder, Web Development</h2>
        <p><b>Vice</b>, also known as ViceWatercolour, is a founder of Toonkit. His main interests are music production, journalism, creative writing, and politics. His primary language is English, born and raised in the United States. </p>
        <a href="https://github.com/Palmidence"><i class="fab fa-github fa-1.5x" style="color:black"></i></a> <a href="https://twitter.com/ViceWatercolour"><i class="fab fa-twitter fa-1.5x" style="color:#1FAEFF"></i></a>
      </div>
    </div>
    <!-- Bin -->
    <div class="contributor">
      <img draggable="false" src="https://i.imgur.com/jaXreg8.png">
      <div class="main-content">
        <h1>Admin - Bin</h1>
        <h2>Founder, Web Development / Backend</h2>
        <p><b>Bin</b>, known around Discord as Bin#7773, is a founder of Toonkit. His main interests are software development, game design, cybersecurity, and cryptography. His primary language is English, born in the United States. He prefers to remain largely anonymous online.</p>
        <a href="https://github.com/FileStream"><i class="fab fa-github fa-1.5x" style="color:black"></i></a>
      </div>
    </div>
    <!-- Zach -->
    <div class="contributor">
      <img draggable="false" src="{{ url_for('static', filename='images/staff/zach.png') }}">
      <div class="main-content">
        <h1>Contributor - Zach</h1>
        <h2>Pythonista / Backend / Web Development</h2>
        <p><b>Zach</b>, also known as zzzachzzz, is a contributor of Toonkit.und Discord as Bin#7773, is a founder of Toonkit. His main interests are software development, game design, cybersecurity, and cryptography. His primary language is English, born in the United States. He prefers to </p>
        <a href="https://github.com/zzzachzzz"><i class="fab fa-github fa-1.5x" style="color:black"></i></a>
      </div>
    </div>
  </div>

<style>
  .contributor {

    display: inline-block;
    /*flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;*/
    height: 100%;
    /*position: relative;*/
    overflow: hidden;
  }
  .contributor div {
     float: right;
     width: 68%;
     margin: 2%;
  }
  .contributor img {
    vertical-align: middle;
    display: inline-block;
    width: 200px;
    height: 200px;
    float: left;
    /*transform: translateY(25%);*/
  }
</style>
{% endblock content %}