{% extends "layout.html" %}

{% block content %}
  <div id="main" class="main-content">
    <h1>Toonkit Contributors</h1>
    <!-- Vice -->
    <div class="contributor">
      <img draggable="false" src="https://i.imgur.com/KAXiUwm.png">
      <div class="main-content">
        <h1>Admin - Vice</h1>
        <div class="pad-left">
          <h2>Founder, Web Dev</h2>
          <p><b>Vice</b>, also known as ViceWatercolour, is a founder of Toonkit. His main interests are music production, journalism, creative writing, and politics. His primary language is English, born and raised in the United States.</p>
          <a href="https://github.com/Palmidence"><img width="24" height="24" src="../static/svg/github-icon.svg"></a>
          <a href="https://discord.gg/ZrHKxuk" target="_blank" aria-label="Join the Discord!">
            <img width="28" height="28" src="../static/svg/discord-icon.svg">
          </a>
          <b>Vice#4812</b>
        </div>
      </div>
    </div>
    <!-- Bin -->
    <div class="contributor">
      <img draggable="false" src="https://i.imgur.com/jaXreg8.png">
      <div class="main-content">
        <h1>Admin - Bin</h1>
        <div class="pad-left">
          <h2>Founder, Web Dev / Backend</h2>
          <p><b>Bin</b> is a founder of Toonkit. His main interests are software development, game design, cybersecurity, and cryptography. His primary language is English, born in the United States. He prefers to remain largely anonymous online.</p>
          <a href="https://github.com/FileStream"><img width="24" height="24" src="../static/svg/github-icon.svg"></a>
          <a href="https://discord.gg/ZrHKxuk" target="_blank" aria-label="Join the Discord!">
            <img width="28" height="28" src="../static/svg/discord-icon.svg">
          </a>
          <b>Bin#7773</b>
        </div>
      </div>
    </div>
    <!-- Zach -->
    <div class="contributor">
      <img draggable="false" src="{{ url_for('static', filename='images/staff/zach.png') }}">
      <div class="main-content">
        <h1>Contributor - Zach</h1>
        <div class="pad-left">
          <h2>Pythonista / Web Dev / Backend </h2>
          <p><b>Zach</b> is a contributor of Toonkit.</p>
          <a href="https://github.com/zzzachzzz"><img width="24" height="24" src="../static/svg/github-icon.svg"></a>
          <a href="https://discord.gg/ZrHKxuk" target="_blank" aria-label="Join the Discord!">
            <img width="28" height="28" src="../static/svg/discord-icon.svg">
          </a>
          <b>zzzachzzz#3989</b>
        </div>
      </div>
    </div>
  </div>

  <style>
    .contributor {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .contributor > .main-content {
      min-width: 70%
    }

    .contributor > img {
      vertical-align: middle;
      display: inline-block;
      width: 170px;
      height: 170px;
      margin-right: 1%;
    }
  </style>
{% endblock content %}