{% extends "layout.html" %}
{% block head %}
  {{ super() }}

{% endblock head %}

{% block content %}
<div id="content-wrapper">
  <div class="inner clearfix" style="">
    <section id="main-content" style="
      width: 1000px;
      padding-bottom: 5%;
      left: 50;
      position: relative;">
      <div id="images" style="
        width: 200px;
        float: left;
        margin-right: 5%;
        margin-top: 8%;">
        <img draggable="false" src="https://i.imgur.com/KAXiUwm.png" width="200px" height="200px" style="position:relative;left:6%;z-index: 1;">
        <img draggable="false" src="https://i.imgur.com/jaXreg8.png" width="200px" height="200px" style="position:relative;left:6%;z-index: 1;margin-top: 35%;">
    </div>
    <section id="main-content" style="
    margin-top: 5%;">
            <h1>Admin - Vice</h1>
            <h2>Founder, Web Development</h2>
            <p><b>Vice</b>, also known as ViceWatercolour, is a founder of Toonkit. His main interests are music production, journalism, creative writing, and politics. His primary language is English, born and raised in the United States. </p>
            <a href="https://github.com/Palmidence"><i class="fab fa-github fa-1.5x" style="color:black"></i></a> <a href="https://twitter.com/ViceWatercolour"><i class="fab fa-twitter fa-1.5x" style="color:#1FAEFF"></i></a>
            <br>
            <hr>
        </section>
        <section id="main-content" style="margin-top: 2%;">
            <h1>Admin - Bin</h1>
            <h2>Founder, Web Development / Backend</h2>
            <p><b>Bin</b>, known around Discord as Bin#7773, is a founder of Toonkit. His main interests are software development, game design, cybersecurity, and cryptography. His primary language is English, born in the United States. He prefers to remain largely anonymous online.</p>
            <a href="https://github.com/FileStream"><i class="fab fa-github fa-1.5x" style="color:black"></i></a>
            <br>
            <hr>
        </section>
    </section>    
    </div>
    </div>
    <b><b></b></b>
    <div class="footer" id="footer" style="display: none;">This project has recently been opened! Send any suggestions or issues by<a href="https://discord.gg/5pr4mRN"><strong> joining our Discord server</strong></a>!
        <button onclick="closeFooter()" float="right" style="
    float: right;
    color: black;
    font-family: inherit;
    /* border-radius: 10px; */
    border: none;">
    <b>X</b></button>
</div>
{% endblock content %}
