{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/combos.css') }}">

    {% if title %}
        <title>{{ title }} | Toonkit </title>
    {% else %}
        <title>Toonkit</title>
    {% endif %}
{% endblock head %}
<!-- Override header in order to hide it. -->
{% block header %}{% endblock header %} 

{% block content %}
  <div id="main" class="main-content">
    <h1 class="pad-left">Gag Combo Generator</h1>
    <form method=post action="{{ url_for('ttr.combos') }}">
      {{ form.hidden_tag() }} <!-- Includes CSRF protection -->
      <fieldset class="form-group">

        <script>
          function makeActive(id){
            var label = document.getElementById(id).parentElement;
            label.classList.add("active"); //btn btn-outline-primary focus
            console.log(id);
          }
        </script>

        <div id="row-1" class="btn-group btn-group-toggle" data-toggle="buttons">
          {% for subfield in form.sel_cog_lvl %}
            <label class="btn btn-outline-primary cog-num">
              {{ subfield }} {{ subfield.label }}
              {% if subfield.checked %}
                <script>makeActive("{{ subfield.id }}")</script>
              {% endif %}
            </label>
          {% endfor %}
        </div>

        <div id="row-2" class="btn-group-toggle" data-toggle="buttons">
          {% for subfield in form.sel_track %}
            <script>console.log('{{ subfield.label.text }}')</script>
            <label class="btn btn-outline-primary {{ subfield.label.text }}">
              {{ subfield }} {{ subfield.label }}
              {% if subfield.checked %}
                <script>makeActive("{{ subfield.id }}")</script>
              {% endif %}
            </label>
          {% endfor %}
          
          {% with subfield = form.sel_lured %}
            <label class="btn btn-outline-primary {{ subfield.label.text }}">
              {{ subfield }} {{ subfield.label }}
              {% if subfield.data %}
                <script>makeActive("{{ subfield.id }}")</script>
              {% endif %}
            </label>
          {% endwith %}
        </div>

        <div id="row-3" class="btn-group-toggle" data-toggle="buttons">
          {% for subfield in form.sel_num_toons %}
            <script>console.log('{{ subfield.label.text }}')</script>
            <label class="btn btn-outline-primary {{ subfield.label.text }}">
              {{ subfield }} {{ subfield.label }}
              {% if subfield.checked %}
                <script>makeActive("{{ subfield.id }}")</script>
              {% endif %}
            </label>
          {% endfor %}
        </div>
        <!-- "One Shot the Cog" Submit Button -->
        {{ form.submit(class="btn btn-outline-info my-submit-button", value="One Shot the Cog") }}
      </fieldset>
    </form>
  </div>

  <style>
    .main-content {
      width: 80%;
      max-width: 800px;
    }
    #main > h1 {
      margin-bottom: 20px;
    }
  </style>
  {% block more %}
  {% endblock more %}

{% endblock content %}