{% extends "ttr/ttr-combos-layout.html" %}
{% block more %}
  {% for combo in combos %}
    <div class="main-content">
      <div class="gag-row">
      {% for gag in combo.gags %}
        <div class="gag-card {{ gag.track.capitalize() }}">
          <!-- {# gag_fn represents gag filename ex: 'Birthday_Cake.png' #} -->
          {% set gag_fn  = gag.name.replace(' ', '_') + '.png'%}
          <img class="{{ img_class }}" src="{{ url_for('static', filename='gag_icons/' +
          gag_fn) }}">
          <p>{{ gag.name }}</p>
        </div>
      {% endfor %}
        <div class="combo-info">
          <div class="damage">
            <p><b>{{ combo.damage }}</b>
            <br>Damage</p>
          </div>
          <div class="cog_hp">
            <p><b>{{ cog.hp }}</b>
            <br>Cog HP</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock more %}