{% extends "ttr/ttr-combos-layout.html" %}
{% block more %}
  {% for combo in combos %}
    <div class="container">
      <div class="gag-row">
      {% for gag in combo.gags %}
        <div class="gag-card {{ gag.track.capitalize() }}">
          <!-- {# gag_fn represents gag filename ex: 'Birthday_Cake.png' #} -->
          {% set gag_fn  = gag.name.replace(' ', '_') + '.png'%}
          <img class="{{ img_class }}" src="{{ url_for('static', filename='gag_icons/' +
          gag_fn) }}">
          <p>{{ gag.name }}</p>
        </div>
      {% endfor %}
        <div id="combo-info" class="gag-card">
          <p>Cog HP
          <br><b>{{ cog.hp }}</b>
          <br>Damage
          <br><b>{{ combo.damage }}</b>
          </p>
        </div>
        <style>
          #combo-info {
            position: absolute;
            right:0;
            margin-right:0;
            align-items: center;
            vertical-align: middle;
          }
          #combo-info p {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            line-height: 25px;
          }
          #combo-info p b {
            font-size: 16px;
          }

        </style>
      </div>
    </div>
  {% endfor %}
{% endblock more %}